extends layout

block content
  .navbar
    a(href="/home") Home
    a(href="/logout") Logout
    a(href="/deleteAcct") Delete Account
  .all
    .content
      h1 Welcome, #{name}!
      h2 Your connections:
      for each in connections
        div
          a(href='/profile/' + each.id) #{each.name}
      h2 Your meetings:
      for each in meetings
        div
          p Meeting with 
            a(href="/profile/" + each.invitee) #{each.meetingObj.invitee} 
            span scheduled by 
            a(href="/profile/" + each.creator) #{each.meetingObj.creator} 
            span at #{each.meetingObj.date}
    .sidebar
      h2 All users:
      for each in allUsers
        div
          a(href="/profile/" + each._id) #{each.name}
