extends layout

block content
  .navbar
    a(href="/logout") Logout
    a(href="/home") Home
    a(href="/profile/" + id) Profile
  .all
    .header
      h1 Welcome, #{name}!
    .content
      h2 Your Meetings
      #meetings
        for each in meetings
          #meetingDiv
            span Meeting with 
            a(href="/profile/" + each.inviteeId) #{each.invitee} 
            span scheduled by 
            a(href="/profile/" + each.creatorId) #{each.creator} 
            span on #{each.date}
    .sidebar
      h2 Suggested Connections
      #connections
        for each in allUsers
          div
            a(href="/profile/" + each._id) #{each.name}
  .footer
    a(href="https://github.com/jaylynstoesz") Github
    a(href="/deleteAcct") Delete Account
