extends layout

block content
  .navbar-top
  .navbar
    a(href="/logout") Logout
    a(href="/home") Home
    a(href="/profile/" + id) Profile
  .all
    .header
      h1 Welcome, #{name}!
    .content
      h2 Your Meetings
      #meetings
        for each in meetings
          a.clickme#meetingDiv(href="/meeting/" + each._id)
            span.topic #{each.topic}
            br
            span Meeting  on #{each.date} with #{each.invitee} scheduled by #{each.creator}
    .sidebar
      h2 Suggested Connections
      #connections
        for each in allUsers
          div
            a(href="/profile/" + each._id) #{each.name}
  .footer
    a(href="https://github.com/jaylynstoesz") Github
    a(href="/deleteAcct") Delete Account
