extends layout

block content
  .navbar-top
  .navbar
    a(href="/logout") Logout
    a(href="/home") Home
    a(href="/profile/" + id) Profile
  .all
    .header
      h1 #{thePerson.name}
      if connected
        form#disconnectForm(action="/disconnect/" + thePerson._id method="get")
          input(type="submit" id="disconnectButton" name="disconnectButton" value="Disconnect")
      else
        form#connectForm(action="/connect/" + thePerson._id method="get")
          input(type="submit" id="connectButton" name="connectButton" value="Connect")
      
    .content
      h2 About #{thePerson.name}
      h3 #{thePerson.name} is a #{thePerson.type}
      h3 Dream job: Hodor
      p Hodor. Hodor hodor... Hodor hodor hodor. Hodor, hodor... Hodor hodor hodor hodor! Hodor, hodor hodor hodor, hodor. Hodor hodor, hodor. Hodor hodor hodor. Hodor hodor HODOR! Hodor hodor hodor HODOR hodor, hodor hodor hodor hodor? Hodor hodor - hodor hodor hodor, hodor, hodor hodor.
      p Hodor, hodor. Hodor. Hodor, hodor - hodor?! Hodor! Hodor hodor, hodor... Hodor hodor hodor? Hodor, HODOR hodor, hodor hodor. Hodor. Hodor hodor - HODOR hodor, hodor hodor, hodor, hodor hodor. Hodor. Hodor HODOR hodor, hodor hodor hodor hodor, hodor, hodor hodor. 
      
    .sidebar
      #conns
        h2 #{thePerson.name}'s connections'
        for each in connections
          a(href='/profile/' + each._id) #{each.name}
      if errors
        ul.errors Please correct the following errors: 
          for each in errors
            li= each
      #meetMe
        if connected
          form#meetingForm(method="post" action="/setMeeting/" + thePerson._id)
            h2 Schedule a meeting with #{thePerson.name}
            .field
              .left
                label(for="subject") Topic: 
              .right
                input(type="text" name="topic" id="topic" value=topic)
            .field
              .left
                label(for="date") Select date: 
              .right
                input(type="date" name="date" id="date" value=date)
            .field
              .left
              .right
                input(type="submit" id="meetingButton" name="meetingButton" value="Schedule")
        else
          h2 Connect with #{thePerson.name} to schedule a meeting!
  .footer
    a(href="https://github.com/jaylynstoesz" target="_blank") Github
    a(href="/deleteAcct") Delete Account
